*{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    height: 15%;
    font-size: 15%;
    color: black;
    background-color: white;
    display: flex;
    font-size: 20px;
}
p{
    font-size: 20px;
}
section.Title{
    margin-top: 0;
    text-align: center;
    font-size: 100px;
    background-color: black;
    background-image: url("Pictures/DarkRainbowHoneycomb.jpeg");
    color:white;
}

section.News{
    text-align: right;
    background-color: black;
    color:white;
}
section.introduce{
    text-align: left;
    background-color: white;
    color: black;
    background-size: cover;
}
section.HyperLinks{
    text-align: center;
    background-color: black;
    color: white;
    background-size: cover;
}
h1.bigger{
    font-size: 100px;
}

footer{
    text-align: center;
    background-image: url(Pictures/The\ Infinity\(White\).png);
    background-size: cover;
    width: 100%;
    height: 50px;
    color: black;
    background-color: white;
}