* {
  font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
}

p {
  font-size: 20px;
}

section.Title {
  margin-top: 12vh;
  text-align: center;
  font-size: 7vw;
  background-color: transparent;
  color: var(--text);
  text-align: center;
}

section {
  width: 100%;
  background-color: color-mix(in srgb, var(--background) 87%, #888);
  color: var(--text);
}

h1.bigger {
  font-size: 7vw;
}