:root {
  --text:black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text:white;
    --background: black;
  }
}

.Infinity-form {
  width: 100vw;
  margin:auto;
  animation: rainbow-background infinite 5s linear;
}
.Infinity-form input{
  width:100vw;
  border: none;
  border-radius: 0;
  color:var(--text);
  background-color:var(--background);
}
.Infinity-form textarea{
  width:100vw;
  height: 50vh;
  border: none;
  border-radius: 0;
  color:var(--text);
  background-color:var(--background);
}
@keyframes rainbow-background {
  0% {
    background-color: color-mix(in srgb, #f00, var(--background) 77%);
  }

  17% {
    background-color: color-mix(in srgb, #ff0, var(--background) 77%);
  }

  33% {
    background-color: color-mix(in srgb, #0f0, var(--background) 77%);
  }

  50% {
    background-color: color-mix(in srgb, #0ff, var(--background) 77%);
  }

  67% {
    background-color: color-mix(in srgb, #00f, var(--background) 77%);
  }

  83% {
    background-color: color-mix(in srgb, #f0f, var(--background) 77%);
  }

  100% {
    background-color: color-mix(in srgb, #f00, var(--background) 77%);
  }
}

section.main-form {
  text-align: center;
}
