:root {
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
  }
}

#google-form {
  width: min(649px,100vw);
  aspect-ratio:calc(649/719);
  margin:auto;
  animation: rainbow-background infinite 5s linear;
}

@keyframes rainbow-background {
  0% {
    background-color: color-mix(in srgb, #f00, var(--background) 77%);
  }

  17% {
    background-color: color-mix(in srgb, #ff0, var(--background) 77%);
  }

  33% {
    background-color: color-mix(in srgb, #0f0, var(--background) 77%);
  }

  50% {
    background-color: color-mix(in srgb, #0ff, var(--background) 77%);
  }

  67% {
    background-color: color-mix(in srgb, #00f, var(--background) 77%);
  }

  83% {
    background-color: color-mix(in srgb, #f0f, var(--background) 77%);
  }

  100% {
    background-color: color-mix(in srgb, #f00, var(--background) 77%);
  }
}

section.main-form {
  text-align: center;
}
