:root {
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
  }
}

#google-form{
  width:100vw;
  height: 1100px;
  animation: rainbow-background infinite 5s linear;
}
@keyframes rainbow-background{
  0%{
    background-color:color-mix(in srgb, #f00, var(--background) 90%);
  }
  17%{
    background-color:color-mix(in srgb, #ff0, var(--background) 90%);
  }
  33%{
    background-color:color-mix(in srgb, #0f0, var(--background) 90%);
  }
  50%{
    background-color:color-mix(in srgb, #0ff, var(--background) 90%);
  }
  67%{
    background-color:color-mix(in srgb, #00f, var(--background) 90%);
  }
  83%{
    background-color:color-mix(in srgb, #f0f, var(--background) 90%);
  }
  100%{
    background-color:color-mix(in srgb, #f00, var(--background) 90%);
  }
}
section.main-form{
  text-align: center;
}
