#topnav {
  position: relative;
}

#topnav .search input {
  width: 100px;
}

#topnav .site-nav li a {
  padding: 0 8px;
}

#topnav .sign-in.dropdown {
  display: none;
}

#topnav .sign-in.mobile {
  display: inline-block;
}

.modal {
  position: absolute;
}




/*
     FILE ARCHIVED ON 10:19:33 Jun 27, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:05:51 Jan 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 99.796
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.067
  cdx.remote: 0.062
  esindex: 0.012
  LoadShardBlock: 51.78 (3)
  PetaboxLoader3.datanode: 52.445 (4)
  load_resource: 73.177
  PetaboxLoader3.resolve: 43.724
*/