@charset "utf-8";

/*全体の設定*/
* {
  padding: 0;
  margin: 0;
}

/*取り消し、やり直しなどを載せるメニュー*/
#leftMenu {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
  background: green;
}
/*leftMenu内にあるボタン*/
.leftButtons{
  position: absolute;
  width:100%;
  height:25%;
  background-size: contain;
  background-repeat: no-repeat;
  background:black;
  border:2px solid white;
}
#cancel{
  top:0%;
  background-image: url("./Photos/leftMenu/cancel.svg");
}

#redo{
  top:25%;
  background-image: url("./Photos/leftMenu/redo.svg");
}
#maximize{
  top:50%;
  background-image: url("./Photos/leftMenu/maximize.svg");
}
#download{
  top:75%;
  background-image: url("./Photos/leftMenu/downLoad.svg");
}

/*動画表示スクリーンや操作ボタンの設置場所*/
#topELements {
  position: relative;
  top: 0%;
  left: 10%;
  width: 90%;
  height: 50%;
}

/*動画スクリーン*/
#videoScreen {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 55%;
  height: 50%;
  outline: black groove 5px;
}

/*円状メニュー。ここに読み込みボタンなどを用意する*/
#circleMenu {
  position: absolute;
  top: 0%;
  left: 65%;
  width: 35%;
  height: 50%;
  outline: white groove 5px;
}

/*カメラ起動ボタン*/
#camButton {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: red;
  border-radius: 25px;
  border-width: 5px;
  background-image: url("InfinityVideoEditor/Photos/circleMenu/Camera.svg");
  background-size: cover;
}
/*circleMenu内にある扇状のボタン*/
.fanShapeButton{
position: absolute;
}
#RIGHT{
  width:50%;
  height:50%;
  right:0;
  top:25%;
}