* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

#screen,
#editor,
#selector {
  border: 2px solid black;
  animation-name: rainbowborder;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#screen {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 10%;
}

#editor {
  position: fixed;
  width: 40%;
  height: 50%;
  top: 0;
  left: 60%;
}

#selector {
  position: fixed;
  width: 90%;
  height: 50%;
  top: 50%;
  left: 10%;
}

@keyframes rainbowborder {
  0% {
    border-color: #ff0000;
  }

  17% {
    border-color: #ffff00;
  }

  33% {
    border-color: #00ff00;
  }

  50% {
    border-color: #00ffff;
  }

  67% {
    border-color: #0000ff;
  }

  83% {
    border-color: #ff00ff;
  }

  100% {
    border-color: #ff0000;
  }
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }

  17% {
    color: #ff00ff;
  }

  33% {
    color: #0000ff;
  }

  50% {
    color: #00ffff;
  }

  67% {
    color: #00ff00;
  }

  83% {
    color: #ffff00;
  }

  100% {
    color: #ff0000;
  }
}


.left-Menu {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: black;
  animation-name: rainbow,rainbowborder;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#left-button-addElem {
  top: 0;
  left: 0;
  font-size: 20vw;
  text-align: center;
  line-height:0;
}

#left-button-importProject {
  top: 50%;
  left: 50%;
  font-size: 4vw;
}

#left-button-importFile {
  top: 0;
  left: 50%;
  font-size: 4vw;
}

#left-button-export {
  top: 50%;
  left: 0;
  font-size: 4vw;
}