:root {
  --background: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
}

.Title {
  position: fixed;
  width: 100%;
  height: 20%;
  top: 0;
}

.Title h1 {
  font-size: min(10vh, 10vw);
}

.list {
  width: 90vw;
  padding-left: 5vw;
  padding-top: 25vh;
  background-color: #ffffff55;
  border-color: #00000055;
  color: var(--text);
  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
    border-color: #ffffff55;
  }
  border: 2px solid;
}

#blog {
  position: fixed;
  width: 100%;
  height: 85%;
  top: 10%;
  visibility: hidden;
}

.blog-view {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  background-color: var(--background);
}

#blog-title {
  position: absolute;
  width: 70%;
  height: 10%;
  left: 20%;
  font-size: 5vh;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #ffffff;
  color: #999999;
  border: 2px solid #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

#blog-copy {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 90%;
  overflow: hidden;
  background-color: #ffffff;
  color: #999999;
  border: 2px solid #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

#blog-close {
  position: absolute;
  width: 20%;
  height: 10%;
  font-size: 7vh;
  background-color: #ffffff;
  color: #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

.blog-button {
  overflow: hidden;
  position: relative;
  background-color: #ffffff55;

  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
  }

  width:calc(90vw / 2);
  aspect-ratio: 4/3;

  @media (max-aspect-ratio: 3/4) {
    width: calc(90vw / 1);
  }

  @media (min-aspect-ratio: 4/3) {
    width: calc(90vw / 4);
  }
}

.blog-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.blog-button div {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  color: var(--text);
  font-size: auto;
}
