:root {
  --background: white;
  --text: black;
  --blog-button-width: 50%;
}

@media (max-aspect-ratio: 3/4) {
  :root {
    --blog-button-width: 100%;
  }
}

@media (min-aspect-ratio: 4/3) {
  :root {
    --blog-button-width: 25%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
}

.Title {
  position: relative;
  width: 100%;
  height: 20%;
}

.Title h1 {
  font-size: min(10vh, 10vw);
}

.list {
  width: 90vw;
  margin-left: 5vw;
  background-color: color-mix(in srgb, var(--background), transparent 80%);
}

#list-head {
  width: 100%;
  height: auto;
  display: flex;
  @media (max-aspect-ratio:1/1) {
    display: block;
  }
}

#list-head h1 {
  margin-right: auto;
  position: relative;
  font-size: 4vh;
}

#list-head div {
  width: 40vh;
  height: 4vh;
  background-color: var(--background);
  display: flex 1 auto;
}

#list-head div img {
  width: 10%;
  height: 100%;
  margin-right: auto;
}

#list-head div input {
  width: 85%;
  height: 100%;
  font-size: 4vh;
  background-color: var(--background);
  color: var(--text);
}

@keyframes blog-button-show {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: var(--blog-button-width);
  }
}

@keyframes blog-button-hide {
  from {
    opacity: 1;
    width: var(--blog-button-width);
  }

  to {
    opacity: 0;
    width: 0;
  }
}
#blog-button-section{
  background-color: transparent;
}
.hide-blog-button {
  animation: blog-button-hide 0.5s linear 1;
}

.show-blog-button {
  animation: blog-button-show 0.5s linear 1;
}

.blog-button {
  box-sizing: border-box;
  margin: 1%;
  border: 1px solid var(--text);
  border-radius: 3%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff55;

  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
  }

  width:calc(var(--blog-button-width) - 2 * 1%);
  aspect-ratio: 4/3;
}

#start-loading {
  background-color: var(--background);
  color: var(--text);
}

.blog-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.loading-infinity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.blog-button div {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  color: var(--text);
  font-size: max(auto, 24px);
}