:root {
  --background: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
}

.Title {
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 10vh;
}

.Title h1 {
  font-size: min(10vh, 10vw);
}

.list {
  width: 90vw;
  margin-left: 5vw;
  background-color: #ffffff55;
  border-color: #00000055;
  color: var(--text);

  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
    border-color: #ffffff55;
  }

  border: 2px solid;
}

#blog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  opacity: 0;
  z-index: 10000;
  background-color: var(--background);
}

.blog-view {
  position: absolute;
  width: calc(100vw - 20vh);
  height: 90vh;
  top: 10vh;
  left: 10vh;
  background-color: transparent;
}

@keyframes blog-window-show-animation {
  from {
    top: 100vh;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes blog-window-hide-animation {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: 100vh;
    opacity: 0;
  }

}

.blog-window-show {
  animation-name: blog-window-show-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

.blog-window-hide {
  animation-name: blog-window-hide-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

#blog-title {
  position: absolute;
  width: calc(100vw - 20vh);
  height: 10vh;
  left: 10vh;
  font-size: 5vh;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #ffffff;
  color: #999999;
  border: 2px solid #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

#blog-copy {
  position: absolute;
  width: 10vh;
  height: 10vh;
  left: calc(100vw - 10vh);
  overflow: hidden;
  background-color: #ffffff;
  color: #999999;
  border: 2px solid #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

@keyframes rainbow-border-animation {
  0% {
    border-color: #f00;
  }

  17% {
    border-color: #ff0;
  }

  33% {
    border-color: #0f0;
  }

  50% {
    border-color: #0ff;
  }

  67% {
    border-color: #00f;
  }

  83% {
    border-color: #f0f;
  }

  100% {
    border-color: #f00;
  }
}

.rainbow-border {
  border: 2px solid #888888;
  animation: rainbow-border-animation infinite 5s linear;
}

#blog-close {
  position: absolute;
  width: 10vh;
  height: 10vh;
  font-size: 7vh;
  background-color: #ffffff;
  color: #888888;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    color: #777777;
  }
}

.blog-button {
  overflow: hidden;
  position: relative;
  background-color: #ffffff55;

  @media (prefers-color-scheme: dark) {
    background-color: #00000055;
  }

  width:calc(90vw / 2);
  aspect-ratio: 4/3;

  @media (max-aspect-ratio: 3/4) {
    width: calc(90vw / 1);
  }

  @media (min-aspect-ratio: 4/3) {
    width: calc(90vw / 4);
  }
}

.blog-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.blog-button div {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  color: var(--text);
  font-size: auto;
}